<ion-view mz-screen view-title="{{ title | translate }}"  hide-nav-bar="true" class="app-background">
    <ion-content class="myPadding">
		<!--Welcome title-->
		<div ng-show="data.screenTitle" class="text-center" ng-show="data.screenTitlte">
		    <h2> {{data.screenTitle}} </h2>
		</div>

		<div class="push-content">
		    <!--Welcome image-->
		    <div class="text-center welcome-background" ng-show="data.welcomeMessage">
		        <h3 class="thick"> {{data.welcomeMessage}} </h3>
		    </div> 

		    <hr class="separator"/ ng-show="data.welcomeMessage">

		    <div class="dark-background">
	
		        <h5 class="pull-text text-center" ng-show="data.infoMessage"> {{data.infoMessage}}</h5>

		        <!-- Password -->
		        <div class="row item-input app-input pwd-background item-icon-right" ng-show="_screenParams.passwordField" >
		            <div class="col col-offset-20 col-75">
		                <input type="password" data-ng-model="user.password" 
		                		ng-change="checkPassword(user.password,_screenParams.pwdRegexp)"
		                        placeholder="{{data.newPassword}}" />
		            </div>
		            <i class="icon ion-checkmark" ng-show="passwordIcon===true"></i>
		            <i class="icon ion-close-round" ng-show="passwordIcon===false"></i>
		        </div>
		        <!-- Name -->
		        <div class="row item-input app-input name-background item-icon-right" ng-show="_screenParams.usernameField">
		            <div class="col col-offset-20 col-75">
		                <input type="text" data-ng-model="user.username"  style="margin-top:0.3em"
		                		ng-change="checkUsername(user.username, _screenParams.userRegexp)"
		                        placeholder="{{data.newName}}" />
		            </div>
   		            <i class="icon ion-checkmark" ng-show="userIcon===true"></i>
		            <i class="icon ion-close-round" ng-show="userIcon===false"></i>
		        </div>

		        <!-- Email validation-->
		        <div class="row item-input app-input email-background item-icon-right" ng-show="_screenParams.emailField" >
		            <div class="col col-offset-20 col-75">
		                <input type="text" data-ng-model="user.email"
		                	   ng-change="checkEmail(user.email, _screenParams.emailRegexp)"
		                       placeholder="{{data.newEmail}}" />
		            </div>
		            <i class="icon ion-checkmark" ng-show="emailIcon===true"></i>
		            <i class="icon ion-close-round" ng-show="emailIcon===false"></i>
		        </div>
	
		  		<!-- terms checkbox -->
	  			<div class="row" ng.show="data.terms">
	  				<input  type="checkbox" ng-model="user.accept" style="margin-top: 0.3em"/> 
	  				<!--<p>{{data.termsBefore}}&nbsp</p>-->
	  				<p ng-click="goToTerms()" ng-bind-html="data.terms"/>
	  				<!--<p>&nbsp{{data.termsAfter}}</p>-->
	  			</div>
		  	
		        <!-- Next button -->    
		        <div class="row app-input login-button-background" 
		        	 ng-class="{'clear-button' : _screenParams.onScreenValidation && !formValidated()}"
		               data-ng-click="next()">
		            <div class="col col-80 text-right">
		               <p class="wrap" style="margin-top: 0.5em"> {{'next_screen' | translate}} </p>
		            </div>  
		        </div>

		    </div>
		</div> 
		

    </ion-content>
</ion-view>