<ion-view mz-screen view-title="{{ title | translate }}"  hide-nav-bar="true" class="app-background">
    <ion-content class="myPadding">
		<!--Welcome title-->
		<div ng-show="data.screenTitle" class="text-center">
		    <h2> {{data.screenTitle}} </h2>
		</div>

		<div class="push-content">

		    <!--Welcome image-->
		    <div class="text-center welcome-background" ng-show="data.welcomeMessage">
		        <h3 class="thick"> {{data.welcomeMessage}} </h3>
		    </div> 

		    <hr class="separator"/>

		    <div class="dark-background text-center">
		        <h5 class="pull-text wrap" ng-show="data.infoMessage"> {{data.infoMessage}}</h5>

		        <!-- Password -->
		        <div class="row item item-input app-input pwd-background item-icon-right" >
		            <div class="col col-offset-20 col-75">
		                <input type="password" data-ng-model="user.password" ng-change="checkPassword()"
		                        placeholder="{{'update_new_password' | translate}}" />
		            </div>
		            <i class="icon ion-checkmark" ng-show="passwordIcon"></i>
		            <i class="icon ion-close-round" ng-show="passwordIcon===false"></i>
		        </div>
		        <br/>

		        <!-- Name -->
		        <div class="row item item-input app-input name-background item-icon-right" >
		            <div class="col col-offset-20 col-75">
		                <input type="text" data-ng-model="user.username" ng-change="checkUsername()"
		                        placeholder="{{'update_name' | translate}}" />
		            </div>
   		            <i class="icon ion-checkmark" ng-show="userIcon"></i>
		            <i class="icon ion-close-round" ng-show="userIcon===false"></i>

		        </div>
		        <br/>
		  
		        <!-- Email validation-->
		        <div class="row item item-input app-input email-background item-icon-right" >
		            <div class="col col-offset-20 col-75">
		                <input type="text" data-ng-model="user.email" ng-change="checkEmail()"
		                        placeholder="{{'update_email' | translate}}" />
		            </div>
		            <i class="icon ion-checkmark" ng-show="emailIcon"></i>
		            <i class="icon ion-close-round" ng-show="emailIcon===false"></i>
		        </div>
		        <br/>
		  
		  		<!-- terms checkbox -->
	  			<div class="row">
	  				<input class="col col-10" type="checkbox" ng-model="user.accept"/> 
	  				<p> {{'update_terms' | translate}} </p>
	  			</div>
		  	


		        <!-- Login button -->    
		        <label class="row item app-input login-button-background "
		               data-ng-click="doLogin()">
		            <div class="col col-80 text-right">
		               <p class="wrap"> {{'next_screen' | translate}} </p>
		            </div>  
		        </label>

		    </div> 
		</div>

    </ion-content>
</ion-view>